nav #imageORurl {
	max-width: 100%;
	height: auto;
	padding-bottom: 2.25em;
}

.jumbotron p {
	padding-top: 1em;
}

.jumbotron h1 {
	font-size: 3.5em;
}
.hidejumbotron{
	
}
#jimweist {
	width: 40%;
	height: auto;
}
